// this is a UTF-8 file
#pragma code_page(65001)

// this is the Common Controls 6 manifest
// 1 = CREATEPROCESS_MANIFEST_RESOURCE_ID and 24 = RT_MANIFEST; we use it directly to avoid needing other headers
1 24 "win_generic.static.manifest"
